.blog-card.col-xs-6.col-sm-4.col-md-12
    .panel.panel-default
        a(href=post._paths.prettyPath title=post._metadata.sell).panel-heading
            h4= post._metadata.title

        .panel-body= post._metadata.description
            p.small.author
                em By #{post._metadata.author}