doctype
html
	head
		- var site = {title: 'We are Studio Zero | Immersive Web', url: 'http://www.studiozero.co', image: 'http://www.studiozero.co/assets/images/studiozero_og1200x1200.jpg', description: 'Studio Zero | Creative studio based in London, building Virtual, Augmented and Mixed reality experiences on the Web.' }
		each val, key in site
			meta(property='og:'+'#{key}', content='#{val}')

		- var tCard = { description: 'Studio Zero | Creative studio based in London, building Virtual, Augmented and Mixed reality experiences on the Web.', title:'We are Studio Zero | Immersive Web', site: '@studiozeroco', card: 'summary', image: 'http://www.studiozero.co/assets/images/studiozero_og1200x1200.jpg'}

		each val, key in tCard
			meta(name='twitter:'+'#{key}', content='#{val}')

		title #{site.title}
		link(rel="stylesheet" href="/main.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hind:300,400,700")
		script(src="/assets/js/aframe-v0.4.0.min.js")
		script(src="/assets/js/main.js")
	body
		!= yield

	script.
		(function(s,t,u,d,i,o,z){s['GoogleAnalyticsObject']=i;s[i]=s[i]||function(){
		(s[i].q=s[i].q||[]).push(arguments)},s[i].l=1*new Date();o=t.createElement(u),
		z=t.getElementsByTagName(u)[0];o.async=1;o.src=d;z.parentNode.insertBefore(o,z)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-90214138-1', 'auto');
		ga('send', 'pageview');