<meta name="og:title"       content="#{_metadata.title}" />
<meta name="og:image"       content="#{_metadata.image}" />
<meta name="og:url"         content="#{_metadata.url}" />
<meta name="og:site_name"   content="#{_metadata.site}" />
<meta name="og:description" content="#{_metadata.sell}" />
<meta name="og:locale"      content="en_GB" />