doctype
html(⚡ lang="en")
    head
        title= _metadata.title
        include _meta_common
        include _meta_twitter_large_summary.pug
        include _meta_og.pug
        include _favicons


        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
        include _partials/_standard_fonts
        link(rel="stylesheet" href="/main.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
        script(src="/assets/js/aframe-v0.4.0.min.js")
        script(src="/assets/components/ground.js")
        script(src="/assets/js/main.js")

    body.blog-page
        include _main_menu.pug
        .jumbotron(style!=`${_metadata.imageData.bgStyle}`)
            .container
                h1: span #{_metadata.title}
                p: span= _metadata.description
        .container
            .main.row
                .col-md-8.longform(data-author!=`${_metadata.author}`) !{rendered}
                include _sidebar.pug

        include _footer.pug