html
    head
        title #{_metadata.title}
        <meta name="description">#{_metadata.description}</meta>
    body
        h1 #{_metadata.title}
        .main(data-author!=`${_metadata.author}`) !{rendered}
        include footer.pug